.container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../../public/glassesImage/background.jpg);
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container h1 {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0;
  width: 100vw;
  padding: 1rem 0;
}
.model {
  background-image: url(../../public/glassesImage/model.jpg);
  background-size: cover;
  background-position: center;
  width: 270px;
  height: 350px;
  position: relative;
  display: flex;
  align-items: flex-end;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.model img {
  width: 150px;
  height: 50px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}
.model-text {
  background-color: rgba(241, 165, 111, 0.5);
  padding: 0 5px;
}
.model-text h2 {
  font-size: 18px;
  margin: 0;
  color: #8269dd;
}
.model-text p {
  font-size: 10px;
  color: white;
  margin-top: 0;
}
.image-wrap {
  background-color: whitesmoke;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
.image-wrap img {
  width: 5rem;
  height: 3rem;
  cursor: pointer;
  border: 1px solid purple;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
